@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    margin: 0;
    padding: 0;
}

.hdr {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}

.hdr h1 {
    padding: 0;
    margin: 0 auto;
    color: rgb(29, 209, 16);
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.main {
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.main-visual {
    text-align: center;
}

.main-visual img {
    width: 100%;
}

.contents {
    margin: 60px auto;
    width: 85%;
    display: flex;
}

.block {
    width: 33%;
    margin: 0 3%;
    border-bottom: solid rgb(29, 209, 16);
    text-align: center;
}

.block a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}

.block a:hover {
    box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.5)
}

.block h2 {
    margin: 0;
    padding: 10px;
    color: black;
}

h2 {
    margin-top: 100px;
}

.discription {
    width: 70%;
    margin: 0 auto;
}

.discription img {
    width: 100%;
}

.demo-wrapper, .background-wrapper, .tech-wrapper {
    width: 85%;
    margin: 0 auto;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    padding-left: 0;
}

li {
    padding-left: 20px;
    list-style: none;
}

.ftr {
    margin-top: 50px;
    height: 30px;
    border-top: solid 1px;
    text-align: right;
}

.ftr p {
    margin: 0 auto;
    padding-right: 20px;
}

.postscript {
    margin: 100px auto;
    padding: 20px;
    width: 80%;
    background-color: rgb(217, 255, 225);
}

.postscript h3 {
    margin: 0;
}

@media (max-width: 768px) {
    .main {
        font-family: 'Noto Serif JP', sans-serif;
    }
    
    .contents {
        flex-direction: column;
    }

    .block {
        width: 100%;
        margin: 10px 0;
    }

    .discription {
        width: 90%;
    }

    .demo-wrapper, .background-wrapper, .tech-wrapper {
        width: 90%;
    }
}
